[Unit]
Description=landlab-rest
After=syslog.target network.target httpd-init.service

[Service]
User=root
Environment="PATH=/home/ec2-user/mambaforge/envs/landlab-rest/bin:/home/ec2-user/mambaforge/condabin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/ec2-user/.local/bin:/home/ec2-user/bin"
ExecStart=/home/ec2-user/mambaforge/envs/landlab-rest/bin/start-sketchbook --port=8000 --ssl-cert=/etc/letsencrypt/live/sketchbook.openearthscape.org/cert.pem --ssl-key=/etc/letsencrypt/live/sketchbook.openearthscape.org/privkey.pem --ssl-chain=/etc/letsencrypt/live/sketchbook.openearthscape.org/chain.pem

[Install]
WantedBy=multi-user.target
